/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #13c6fc;
    /* background-color: #f9f6f6; */
    background-image: inherit;

}

nav a{
    display: inline-block;
    padding: 14px;
    text-decoration: none;
    color: rgb(241, 227, 227);
   
}

h1, h3 {
    text-align: center;
    margin: 10px 0;
}

.btn {
    background-color: #ff0049;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: 0.05s;
}

.btn:hover {
    background-color: #e60042;
}

/* About Section */
.about {
    display: flex;
    align-items: center;
    padding: 20px;
    /* background-color: antiquewhite; */
}

.about-text {
    flex: 1;
    padding: 20px;
}

.about-text p{
    width: 79%;
}
.about-text h1,h3{
    color: #fff;
}
.about-image img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    box-shadow: 2px 3px 19px 2px   rgb(254, 252, 252);
}

/* Skills Section */
.skills {
    text-align: center;
    padding: 20px;
}

.skills h1{
    color: #fff;
}
.skill-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.skill-card {
    background-color: #222;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    width: 250px;
    box-shadow: 2px 2px 3px 2px   rgb(254, 252, 252);
}

.skill-card h3{
    color: #fff;
}

.skill-card ul {
    list-style: none;
    padding: 0;
}

/* Contact Section */
.contact {
    text-align: center;
    padding: 10px;
    /* background-color: #f45683; */
  
}

.contact h1{
    color: #fff;
}

.contact form {
    max-width: 400px;
    margin: auto;
    
}

.contact input, .contact textarea {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: #f5f7f8;
    color: #fff;
}

/* Footer Section */
footer {
    text-align: center;
    padding: 2px;
    color: azure;
}

footer .social-links img {
    width: 22px;
    margin: 0 3px;
}
